{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            font-weight: bold;
            font-family: Arial, Helvetica, sans-serif;
            background-color: rgb(187, 243, 243);
        }
        
        table {
            width: 100%;
        }
    </style>
</head>

<body>
    <div class="container">
        <table border="2">
            <tr>
                <td>Name:-</td>
                <td>Phone no:-</td>
                <td>Email:-</td>
                <td>Subject:-</td>
                <td>Message:-</td>
            </tr>
            {% for x in con %}
            <tr>
                <td>{{x.name}}</td>
                <td>{{x.phone}}</td>
                <td>{{x.email}}</td>
                <td>{{x.subject}}</td>
                <td>{{x.message}}</td>
                {% for y in emprec %}
            </tr>
            <a href="emppro?lid={{y.id}}">Back</a>{% endfor %} {% endfor %}

        </table>
    </div>
</body>

</html>